@{
    string name = Context.Request.Cookies["ImpersonateName"];
    string email = Context.Request.Cookies["ImpersonateEmail"];
    bool IsImpersonate = false;
    if (!String.IsNullOrEmpty(email))
    {
        IsImpersonate = true;
    }

}
<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {


        <li class="nav-item">

            @if (IsImpersonate) // impersonate 
            {
                <a class="nav-link text-dark" asp-area="" asp-page="/Impersonate/Index">
                    <div class="alert alert-danger" role="alert">
                        Impersonate @name @email
                    </div>
                </a>
            }
            else
            {
                <span class="navbar-text text-dark">
                    Hello @User.DisplayName()
                </span>
            }


        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
        </li>
    }
</ul>
